# Firebase Configuration (Can also load from firebase-applet-config.json)
VITE_FIREBASE_API_KEY="AIzaSyCi4KYs81u1TT7a0uDc4mNAKMzuQA032Q4"
VITE_FIREBASE_AUTH_DOMAIN="zippy-unfolding-ghl8x.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="zippy-unfolding-ghl8x"
VITE_FIREBASE_MESSAGING_SENDER_ID="450496521727"
VITE_FIREBASE_APP_ID="1:450496521727:web:b807da52f5926c69d073ca"
VITE_FIREBASE_DATABASE_ID="ai-studio-d4ef755c-ecbf-4286-8297-6217c851af65"

# Application URL
APP_URL="http://localhost:3000"
